<!DOCTYPE HTML>
<!--
	Sentiment Analysis application
    Designed by Suleiman Abdulkadir
-->
<head>
    <title>Sentiment Analysis application</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <!--<link rel="stylesheet" href="assets/css/main.css" />-->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/mainpage.css') }}"/>
</head>

<body class="is-preload">

<!-- Header -->
<header id="header">
    <h1>Sentiment Analysis</h1>
</header>

<!-- Area for text input form -->
{% block content %}{% endblock %}

<!-- Footer -->
<footer id="footer">
    <ul class="copyright">
        <li>Name: Suleiman Abdulkadir</li>
        <li>Fellow ID: FE/23/22599501</li>
        <li>Cohort 3</li>
        <li>Course: DevOps</li>
    </ul>
</footer>

<!-- Scripts -->
<script type='text/javascript' src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
<script type='text/javascript'>

    var imageList = ["{{ url_for('static', filename='images/bg01.jpg')}}",
        "{{ url_for('static', filename='images/bg02.jpg')}}",
        "{{ url_for('static', filename='images/bg03.jpg')}}"
    ]; // Array with list of images
    runBackground(imageList); // Execute function that loaded from main.js
</script>

</body>